<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="1.2.5" targetFramework="net40" />
  <package id="Angular.UI.UI-Router" version="0.2.18" targetFramework="net40" />
  <package id="angular-google-maps" version="2.3.2" targetFramework="net40" />
  <package id="angularjs" version="1.5.3" targetFramework="net40" />
  <package id="AngularJS.Animate" version="1.5.3" targetFramework="net40" />
  <package id="AngularJS.Core" version="1.5.3" targetFramework="net40" />
  <package id="AngularJS.Resource" version="1.5.3" targetFramework="net40" />
  <package id="AngularJS.Route" version="1.5.3" targetFramework="net40" />
  <package id="jasmine" version="2.4.1" targetFramework="net40" />
  <package id="lodash" version="3.8.0" targetFramework="net40" />
</packages>